<div class="card max-w-sm rounded overflow-hidden shadow-lg m-4">
  <img class="w-full h-48 object-cover" src='../../../assets/placeholder.png' alt="placeholder" />
  <div class="px-2 py-4">
    <div class="mb-2 ">
      <h1 class="text-lg font-bold ">{{recipe.title}}</h1>
    </div>
    <div class="flex justify-between">
      <h2 class="text-gray-700 text-md font-medium">{{recipe.sideDish}}</h2>
      <h2 class="text-gray-700 text-md font-medium">{{recipe.preparationTime}} mins</h2>
    </div>
  </div>
  <div class="px-2 pt-4 pb-2">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-full py-2 px-4 rounded" type="submit" (click)="navigate()">details</button>
  </div>
</div>
