.recipe-grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.filter{
  padding: 1vw 0.5vw 0;
  display: flex;
  justify-content: space-between;
}

.filter-by-name{

}

.filter-by-name input{
  border-width: 2px;

}
